body{
background: #F6F8EC;
background: linear-gradient(180deg, rgba(246, 248, 236, 1) 0%, rgba(246, 248, 236, 1) 0%);
}

#t{
font-size: 50px;
color: #cad88a;
 font-family: BebasNeue;
}

div{
width: 340px;
height: 340px;
padding-left: 100px;
padding-bottom: 100px;
padding-right: 100px;
padding-top: -100px;
border: 5px double #cad88a;

}
#texto {
   margin-top: -410px;
   margin-left: 945px;
   font-size: 30px;
   color: #cad88a;
   
}