* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

   body {
    font-family: LibreBodoni-Regular;
   }

   .container {
    display: flex;
    flex-direction: column;
    width: 98.9vw;
    height: 3500px;
   }

   #home, #historia, #servicos, #produtos, #contato {
    display: flex;
    width: 100%;
    height: 700px;
   }

   /*HOME*/
   #imgFundo{
    width: 100vw;
    height: 1600px;
    object-fit: cover;
    margin-top: -400px;
   }

   #menu {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    flex-direction: row;
   }

   #imgMenu{
    width: 75px;
    height: 80px;
    padding-top: 10px;
   }

   a{
    padding-top: 10px;
    font-size: 40px;
    color: #cad88a;
    text-decoration: none;
    margin-left: 40px;
   }

   li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
   }

   /*sobre*/
   #sobre{
 background: #F6F8EC;
background: linear-gradient(180deg, rgba(246, 248, 236, 1) 0%, rgba(246, 248, 236, 1) 0%);
   }
    #imgHit{
    margin-left: 250px;
    opacity: 0.2;
   }

    #imgFundo1{
    width: 1000px;
    height: 650px;
    margin-left: 230px;
    margin-top: -20px;
    opacity: 60%;
     }
    
     #texto4{
    font-size: 30px;
    color: whitesmoke;
    background-color: #cad88a;
    opacity: 80%;
    margin-top: 230px;
    margin-left: 945px;
    margin-left: 600px;
    padding-left: 30px;
    padding-top: 2px;
    position: absolute;
    }

    #img{
    width: 500px;
    height: 700px;
    display: flex;
    padding-top: 150px;
    margin-left: 50px;
    }

    /*receitas*/
    body {
  margin: 0;
  background: #F6F8EC;
background: linear-gradient(180deg, rgba(246, 248, 236, 1) 0%, rgba(246, 248, 236, 1) 0%);
  opacity: 80%;
  color: #cad88a;
  text-align: center;
}

h1 {
  margin-top: 120px;
  font-size: 2em;
  letter-spacing: 2px;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

.grid img {
  width: 120px;
  height: 180px;
  border-radius: 8px;
  transition: transform 0.3s;
}

.grid img:hover {
  transform: scale(1.05);
}

.trailers {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin: 20px 0;
}

.trailers img {
  width: 120px;
  height: 180px;
  border-radius: 8px;
  transition: transform 0.3s;
}
.trailers img:hover {
  transform: scale(1.05);
}

/*contatos*/
#contatos{
 background: #F6F8EC;
background: linear-gradient(180deg, rgba(246, 248, 236, 1) 0%, rgba(246, 248, 236, 1) 0%);
   }

#nome{
    width: 1000spx;
    height: 20px;
    display: flex;
    margin-top: 200px;
    margin-left: 50px;
    font-size: 40px;
    }

    form{
      position: absolute;
      margin-top: 100px;
    }

    /*loja*/
#menu{
 background: #F6F8EC;
background: linear-gradient(180deg, rgba(246, 248, 236, 1) 0%, rgba(246, 248, 236, 1) 0%);
   }